.details_head {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em 0 2em 0;
}
.details_head div {
    content: '';
    background: rgba(0.294, 0.294, 0.294, 0.15);
    width: 23%;
    height: 1px;
}
.details_header {
    position: relative;
    text-align: center;
    font-size: clamp(1em, 1.2vw, 1.5em);
    color: rgba(0.294, 0.294, 0.294, 0.7);
}
.details_wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: -webkit-center;
    padding: 0 0 2em 0;
}
.details_type {
    padding: 0.5em 0;
    font-size: 0.9em;
}
@media only screen and (min-width: 68.5em) {
    .details_head div {
        width: 30%;
    }
}